.topnav {
 background-color: #868282;
    overflow: hidden;
    border: #868282;
    border-radius: 8px;
    width: 930px;
    margin: 6px auto 10px auto;
    padding: 25px 25px 20px;
    position: relative;
    background: #333;
    color: #bbb;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #bb9ac2;
    color: rgb(91, 39, 107);
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #ad6bc3;
    color: rgb(92, 40, 97);
}
.back {
    background-color: #868282;
    overflow: hidden;
    border: #6b2020;
    border-radius: 8px;
    width: 1350px;
    margin: 6px auto 10px auto;
    padding: 25px 25px 20px;
    position: relative;
    background: #575657;
    color: #ffffff;
}
#footer {
    position: fixed; /* Фиксированное положение */
    left: 0; bottom: 0; /* Левый нижний угол */
    padding: 10px; /* Поля вокруг текста */
    background: #262627; /* Цвет фона */
    color: #f43ffa; /* Цвет текста */
    width: 100%; /* Ширина слоя */
    
   }
   .topnav2 {
    background-color: #868282;
    overflow: hidden;
    border: #868282;
    border-radius: 8px;
    width: 930px;
    margin: 6px auto 10px auto;
    padding: 25px 25px 20px;
    position: relative;
    background: #333;
    color: #bbb;
}
.topnav2 a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.topnav2 a:hover {
    background-color: #963737;
    color: rgb(255, 255, 255);
}
.topnav2 a.active {
    background-color: #ad6bc3;
    color: white;
}
.back2 {
    background-color: #7d4a4a;
    overflow: hidden;
    border: #c6bebe;
    border-radius: 8px;
    width: 1350px;
    margin: 6px auto 10px auto;
    padding: 25px 25px 20px;
    position: relative;
    background: #575657;
    color: #ffffff;
}
.topnav3 {
    background-color: #868282;
    overflow: hidden;
    border: #868282;
    border-radius: 8px;
    width: 930px;
    margin: 6px auto 10px auto;
    padding: 25px 25px 20px;
    position: relative;
    background: #333;
    color: #bbb;
}

/* Style the links inside the navigation bar */
.topnav3 a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav3 a:hover {
    background-color: #963737;
    color: rgb(255, 255, 255);
}

/* Add a color to the active/current link */
.topnav3 a.active {
    background-color: #ad6bc3;
    color: white;
}
.back3 {
    background-color: #868282;
    overflow: hidden;
    border: #c6bebe;
    border-radius: 8px;
    width: 1350px;
    margin: 6px auto 10px auto;
    padding: 25px 25px 20px;
    position: relative;
    background: #575657;
    color: #ffffff;
}
